<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.UserMapper">

    <!--结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--column数据库中的字段，property实体类中的属性-->
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="pwd"/>
    </resultMap>

    <select id="getUserList" resultMap="UserMap" >
        select * from mybatis.user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.simple.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <!--    对象中的属性，可以直接取出来-->
    <insert id="addUser" parameterType="com.simple.pojo.User">
        insert into mybatis.user (id,name,pwd) value (#{id},#{name},#{pwd});
    </insert>

    <!--    修改用户-->
    <update id="updateUser" parameterType="com.simple.pojo.User">
        update mybatis.user set name=#{name},pwd=#{pwd}  where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id};
    </delete>

    <!--对象中的属性，可以直接取出来  传递map的key-->
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id,name,pwd) values (#{userid},#{name },#{password})
    </insert>

    <select id="getUserLike" resultMap="UserMap">
        select * from mybatis.user where name like "%"#{value}"%"
    </select>

    <!--   limit 分页-->
    <select id="getUserByLimit" parameterType="map" resultType="User">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

    <!--    RowBounds分页-->
    <select id="getUserByRowBounds" resultMap="UserMap">
        select * from mybatis.user
    </select>

</mapper>
